In [1]:
import pandas as pd

/tmp/ipykernel_3871/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
gbr_af=pd.DataFrame(columns=['CHR','POP','POS','MAF'])

In [5]:
df=pd.read_csv('allele_frequencies_with_positions.csv')

In [6]:
df

         CHR              SNP A1 A2       MAF  NCHROBS        POS
0          1      1:10399:C:A  A  C  0.000000      182      10397
1          1      1:10420:A:C  C  A  0.000000      182      10420
2          1      1:10437:T:C  C  T  0.005495      182      10437
3          1      1:10438:A:T  T  A  0.000000      182      10438
4          1      1:10440:C:A  A  C  0.005495      182      10440
...      ...              ... .. ..       ...      ...        ...
5027076    1  1:248945548:G:C  C  G  0.054950      182  248945548
5027077    1  1:248945572:T:G  G  T  0.000000      182  248945572
5027078    1  1:248945574:G:C  C  G  0.005495      182  248945574
5027079    1  1:248945575:G:T  T  G  0.000000      182  248945574
5027080    1  1:248945650:C:G  G  C  0.000000      182  248945650

[5027081 rows x 7 columns]

In [8]:
import pandas as pd

results = []
prev_maf = None
start_pos = None
end_pos = None

#iterating through rows of df
for _, row in df.iterrows():
    #new range if MAF changes
    if row['MAF'] != prev_maf:
        if start_pos is not None:
            #savethe previous range
            results.append({'Pos-start': start_pos, 'Pos-end': end_pos, 'MAF': prev_maf})
        start_pos = row['POS']
        end_pos = row['POS']
        prev_maf = row['MAF']
    else:
        #extend current range
        end_pos = row['POS']

#save the last range
if start_pos is not None:
    results.append({'Pos-start': start_pos, 'Pos-end': end_pos, 'MAF': prev_maf})

#conversion results to a DataFrame
summary_df = pd.DataFrame(results)

#output the summary to a CSV file
summary_df.to_csv('maf_ranges_summary.csv', index=False)

In [9]:
summary_df

         Pos-start    Pos-end       MAF
0            10397      10420  0.000000
1            10437      10437  0.005495
2            10438      10438  0.000000
3            10440      10443  0.005495
4            10444      10445  0.000000
...            ...        ...       ...
1633797  248945485  248945532  0.000000
1633798  248945548  248945548  0.054950
1633799  248945572  248945572  0.000000
1633800  248945574  248945574  0.005495
1633801  248945574  248945650  0.000000

[1633802 rows x 3 columns]